<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ETL Schedule Center | Log In</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../plugins/iCheck/square/blue.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page" ng-app="adminLteApp">
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>ETL</b>Schedule</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" ng-controller="LogCtrl">

        <!-- alert message -->
        <div ng-show="alterMsg"class="alert alert-warning alert-dismissible" style="padding: 5px;">
            <h6><i class="icon fa fa-warning"></i> {{alterMsg}}</h6>
        </div>

        <!-- error message -->
        <div ng-show="errMsg" class="alert alert-danger alert-dismissible" style="padding: 5px;">
            <h6><i class="icon fa fa-ban"></i> {{errMsg}}</h6>
        </div>

        <p class="login-box-msg">Sign in to start your session</p>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" ng-model="username" placeholder="Account">
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" ng-model="password" placeholder="Password"
                   ng-keyup="submitKeyup($event)">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-2" ng-show="loading">
                <img src="../dist/img/loading.gif" style="padding-top: 10px;"/>
            </div>
            <div class="col-xs-4 pull-right">
                <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="submit()">Sign In</button>
            </div>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.1.4 -->
<script src="../plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/angularjs/angular.min.js"></script>
<script src="../plugins/angularjs/angular-route.min.js"></script>
<script src="../dist/js/admin.js"></script>
<script src="../dist/js/control/logctrl.js"></script>
</body>
</html>
