<div class="row"  ng-controller="Z8OrderCtrl">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">在线订单</h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">物料Id</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm  input-sm " ng-model="skuId" placeholder="SkuId">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">订单Id</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm  input-sm " ng-model="orderId" placeholder="OrderId">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">订单状态</label>
                                <div class="col-sm-9">
                                    <select ng-model="selected" ng-options="m.status for m in orderStatus" class="form-control input-sm " ng-click="showStatus()">
                                        <option value="" ng-show="select_status">所有状态</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">物料名称</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm " ng-model="productName" placeholder="ProductName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">联系电话</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm " ng-model="telephone" placeholder="Telephone">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label input-sm ">时间区间</label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control input-sm  pull-right" id="reservationtime">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-info pull-right" ng-click="queryZ8Order();">查询</button>
                    </div>
                </form>
            </div>
            <div class="overlay" ng-show="overlayStatus">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="alert alert-warning" ng-show="status" style="text-align: center;"><!--错误警告-->
                <strong>{{msg}}</strong>
            </div>
            <style>
                th{
                    white-space:nowrap;
                }
                td{
                    white-space:nowrap;
                }
            </style>
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped table-bordered table-hover" id="datatable_reviews">
                    <thead>
                    <tr>
                        <th>订单Id</th>
                        <th>交易状态</th>
                        <th>订单信息</th>
                        <th>收货人</th>
                        <th>手机号码</th>
                        <th>电话号码</th>
                        <th>省</th>
                        <th>市</th>
                        <th>区</th>
                        <th>详细地址</th>

                        <th>实付金额</th>
                        <th>邮费</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>付款时间</th>
                        <th>发货时间</th>
                        <th>结束时间</th>
                        <th>货运公司</th>
                        <th>发票内容</th>
                        <th>订单备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order_info in oderList track by $index">
                        <td align="right"><strong>{{order_info.id}}</strong></td>
                        <td style="font-weight: bold;">{{order_info.status}}</td><!--订单状态（中文）-->
                        <td><!--物料信息-->
                            <table>
                                <tr ng-repeat="item_info in order_info.products track by $index">
                                    <td title="{{item_info.sku_id}}" style="width:400px;text-align: left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow: ellipsis;"><span><strong>{{item_info.sku_id}}</strong></span></td>
                                    <td title="{{item_info.name}}"><div style="width:200px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;padding-left: 20px;"><a href="https://detail.tmall.com/item.htm?id={{item_info.numIid}}" target="_blank"><span>{{item_info.name}}</span></a></div></td>
                                    <td style="text-align: right;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow: ellipsis;padding-left: 20px;">数量：{{item_info.count}}</td>
                                    <td style="text-align: right;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow: ellipsis;padding-left: 20px;">价格：{{item_info.price | currency:'￥'}}</td>
                                </tr>
                            </table>
                        </td>
                        <td>{{order_info.address.name}}</td><!--姓名-->
                        <td align="right" >{{order_info.address.phone}}</td><!--手机号码-->
                        <td align="right" >{{order_info.address.tel}}</td><!--电话-->
                        <td>{{order_info.address.province}}</td><!--省-->
                        <td>{{order_info.address.city}}</td><!--市-->
                        <td>{{order_info.address.county}}</td><!--区-->
                        <td>{{order_info.address.address}}</td><!--详细地址-->

                        <td align="right">{{order_info.order_price | currency:'￥'}}</td><!--用户应付金额-->
                        <td align="right">{{order_info.postage | currency:'￥'}}</td><!--商品的运费-->
                        <td>{{order_info.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td><!--下单时间-->
                        <td>{{order_info.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</td><!--订单更新时间-->
                        <td>{{order_info.pay_time | date:'yyyy-MM-dd HH:mm:ss'}}</td><!--订单支付时间-->
                        <td>{{order_info.express_time | date:'yyyy-MM-dd HH:mm:ss'}}</td><!--发货时间-->
                        <td>{{order_info.close_time | date:'yyyy-MM-dd HH:mm:ss'}}</td><!--完结时间-->
                        <td>{{order_info.express_company}}</td>
                        <td align="right" ng-repeat="invoice_info in order_info.invoice track by $index">{{invoice_info.content}}</td>
                        <td>{{order_info.buyer_comment}}</td><!--买家下单时订单备注-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="col-sm-11 pagination pagination-sm no-margin pull-left" style="visibility: visible;">
                    <li class="pull-left">
                        <select name="example2_length" aria-controls="example2" class="form-control input-sm  ng-pristine ng-valid" ng-model="pageSizeNum" ng-change="pageLength()">
                            <option value="10">10</option>
                            <option value="20" selected="selected">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </li>
                    <li ng-class="viewIndex == 1 ? 'prev disabled' : 'prev'" class="prev"><a href="javascript:void(0);" title="HomePage" ng-click="prevPage();"><i class="fa fa-angle-double-left"></i></a></li>
                    <li ng-class="viewIndex == 1 ? 'prev disabled' : 'prev'" class="prev"><a href="javascript:void(0);" title="PreviousPage" ng-click="pageUp();"><i class="fa fa-angle-left"></i></a></li>
                    <li ng-class="pageSize == viewIndex ? 'next disabled' : 'next'" class="next"><a href="javascript:void(0);" title="NextPage" ng-click="pageDown();"><i class="fa fa-angle-right"></i></a></li>
                    <li ng-class="pageSize == viewIndex ? 'next disabled' : 'next'" class="next"><a href="javascript:void(0);" title="EndPage" ng-disabled="is" ng-click="nextPage();"><i class="fa fa-angle-double-right"></i></a></li>
                    <li><label style="font-weight:400" class="control-label input-sm  input-sm ng-binding">Total&nbsp;{{totalSize}}&nbsp;&nbsp;&nbsp;{{currentPage}}/{{totalPages}}</label></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Page script -->
<script>
    $(function () {
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'YYYY-MM-DD HH:mm'});
    });
</script>
                                                                                                                   
